<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>EXPRESS PAGE</title>
  <link rel="stylesheet" href="/stylesheets/bootstrap.css">
</head>

<body>
  <div class="navbar d-flex" style="background-color: #e3f2fd;">
    <li class="nav-item d-inline btn-info">
      <a class="nav-link active text-white active" aria-pressed="true" type="button" href="/">回到首頁</a>
    </li>
    <ul class="nav nav-pills justify-content-around">
      <li class="nav-item d-inline mr-2 rounded-pill btn-info">
        {{!-- <a class="nav-link text-white" href="/about">About</a> --}}
        <a class="nav-link text-white" type="button" href="/about">About</a>
        {{!-- <button type="button" class="btn btn-primary">Primary</button> --}}
      </li>
      <li class="nav-item d-inline mr-2 rounded-pill btn-info">
        <a class="nav-link text-white" href="/portfolio">Portfolio</a>
      </li>
      <li class="nav-item d-inline rounded-pill btn-info">
        <a class="nav-link text-white" href="/contact">Contact</a>
      </li>
    </ul>
  </div>
  
  {{{body}}}
  <script src="/javascripts/jquery-3.6.0.js"></script>
  <script src="/javascripts/popper.js"></script>
  <script src="/javascripts/bootstrap.js"></script>
</body>
</html>